<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bookmark.user_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @bookmark.url %>
</p>

<p>
  <strong>Created:</strong>
  <%= @bookmark.created %>
</p>

<p>
  <strong>Time:</strong>
  <%= @bookmark.time %>
</p>

<p>
  <strong>Keep day:</strong>
  <%= @bookmark.keep_day %>
</p>

<p>
  <strong>Notice flag:</strong>
  <%= @bookmark.notice_flag %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
